<!DOCTYPE html>
<html>
  <head>
    <title>Quora Clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '.tinymce',
    height: 500,
    menubar: false,
    plugins: [
      'advlist autolink lists link image charmap print preview anchor',
      'searchreplace visualblocks code fullscreen',
      'insertdatetime media table paste code help wordcount'
    ],
      toolbar: 'undo redo | formatselect | ' +
      ' bold italic backcolor | alignleft aligncenter ' +
      ' alignright alignjustify | bullist numlist outdent indent | ' +
      ' removeformat | help'
  });
</script>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Quora', root_path , :class => "navbar-brand"%>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

      <b><%= link_to 'New Question', new_question_path, :class => "nav-link"  if user_signed_in? %></b>
    </li>
    <li class="nav-item active">

      <b><%= link_to 'Sign in to create a new question', new_user_session_path, :class => "nav-link" unless user_signed_in? %></b>
    </li>

    </ul>
    <ul class="navbar-nav ml-auto">
      <%= form_tag search_questions_path, method: :get, class: "form-inline my-2 my-lg-0", role: "search" do%>
      <%= text_field_tag :search, params[:search], class: "form-control"%>
      <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
      <%end%>
      <b>
      <li class="nav-item active">

        <%= link_to current_user.name, edit_user_registration_path , :class => "nav-link" if user_signed_in? %>

      </li>

</b>
      <li class="nav-item active">
        <%= link_to "Login", new_user_session_path , :class => "nav-link" unless user_signed_in? %>
      </li>
      <li class="nav-item active">
        <%= link_to "Sign Up", new_user_registration_path , :class => "nav-link" unless user_signed_in? %>

      </li>
      <li class="nav-item">
        <%= link_to "Logout", destroy_user_session_path, :class => "nav-link" ,:method => :delete if user_signed_in?%>
      </li>

    </ul>

  </div>
</nav>
  <%= notice %>
    <%= alert %>
    <%= yield %>
  </body>
</html>
